.loader {
  text-align: center;
  margin: 50px 0;

  svg {
    animation: spin 1s linear infinite;
    height: 2em;
    width: 2em;
  }

  @keyframes spin {
    100% { transform: rotate(360deg); }
  }
}

