img.header-logo {
    width: 70%;
}

.navbar-text {
  color: #ddd;
  font-size: 16px;
}

@media (max-width: 768px){
    .navbar-fixed-top {
        position: fixed;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
}
