<nav id="header_wrapper" class="navbar navbar-default navbar-pf navbar-static-top" [class.wizard]="wizard" role="navigation">
  <div id="header_nav" class="navbar-header">
    <a class="navbar-brand page-scroll" routerLink="/">
      <img class="header-logo" src="../../assets/img/openshift-io_white.png" alt="Openshift.io">
    </a>
    <ul class="nav navbar-nav navbar-right" ><!-- *ngIf="!keycloak.skip" -->
      <li id="loggedout" *ngIf="!auth.isLoggedIn()">
        <a id="login" href="javascript:void(0)" (click)="login.login()">
          <i class="pficon pficon-user"></i> Log In
        </a>
      </li>
      <li class="dropdown" [class.open]="collapse" id="loggedin" *ngIf="auth.isLoggedIn()">
        <a href="javascript:void(0)" (click)="collapse = !collapse">
          <div id="header_dropdownToggle_header">
            <span class="nav-item-icon">
              <span class="pficon pficon-user" id="nouserimage"></span>
              {{fullName}}
            </span>
            <span class="nav-item-text" id="name"></span> <b class="caret"></b>
          </div>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a id="logout" href="javascript:void(0)" (click)="auth.logout()">
              <span class="nav-item-text">Sign out</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
