<footer>
  <div class="row">
    <div class="col-md-5">
      <p>
        <a href="https://www.redhat.com/">
          <img alt="Red Hat" src="../../assets/img/redhat.svg">
        </a>
        <a href="http://www.redhat.com" id="logo-redhat" target="_blank"></a>
      </p>
    </div>
    <div class="col-md-4">
      <ul class="links">
        <li>
          <a href="https://www.redhat.com/en/about/privacy-policy" target="top">Privacy Statement</a>
        </li>
        <li>
          <a href="https://www.openshift.com/legal/terms.html" target="top">Terms of Use</a>
        </li>
        <li>
          <a href="https://www.redhat.com/en/about/open-source-assurance" target="top">Open Source</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="social">
        <li>
          <a href="https://www.facebook.com/groups/launchpad/" target="_blank"><span class="fa fa-facebook"></span></a>
        </li>
        <li>
          <a href="https://twitter.com/launchpad" target="_blank"><span class="fa fa-twitter"></span></a>
        </li>
        <li>
          <a href="https://plus.google.com/communities/" target="_blank"><span class="fa fa-google-plus"></span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="hidden" id="backend-version"> Version: {{version}} </div>
</footer>
