<footer *ngIf="wizard">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-md-2 logo">
        <a href="https://www.redhat.com/" target="top"></a>
      </div>
      <div class="col-xs-10 col-md-10 footer-content">
        <a href="https://www.redhat.com">Copyright ©2017 Red Hat, Inc.</a>
        <span class="conditions">
          <a href="https://www.redhat.com/en/about/privacy-policy" target="top" class="legal">
            Privacy Statement
          </a>
          <a href="https://www.redhat.com/en/about/terms-use" target="top" class="legal">
            Terms of Use
          </a>
          <a href="http://appdev.openshift.io/docs/contrib-guide.html" target="top">
            Contributing
          </a>
          <span class="summit">
            <a href="https://www.facebook.com/openshiftio/" target="top">
              <i class="fa fa-facebook fa-lg"></i>
            </a>
            <a href="https://twitter.com/openshiftio" target="top">
              <i class="fa fa-twitter fa-lg"></i>
            </a>
          </span>
        </span>
        <p></p>
      </div>
    </div>
  </div>
</footer>
