$color-pf-light-blue-300: #040404;
$color-pf-light-blue-500: #3C8FC9;
$text-color: #ddd;

footer {
  background-color: $color-pf-light-blue-300;
  font-size: 10px;
  line-height: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

footer .row {
  margin: 0;
}

footer .links {
  clear: left;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  li {
    display: inline-block;
    padding-left: 8px;
    font-size: 14px;
    font-weight: bold;
    a {
      color: $text-color;
    }
  }
}

footer .social {
  clear: left;
  list-style: none;
  margin: 15px 0 0;
  padding: 0;
  li {
    display: inline-block;
    padding-left: 40px;
  }
  a {
    :hover {
      color: $color-pf-light-blue-500;
    }
    color: $text-color;
    font-size: 20px;
  }
}