<footer>
  <div class="row">
    <div class="col-md-5">
      <p>
        <a href="http://www.redhat.com" id="logo-redhat" target="_blank">Red Hat</a> Obsidian Toaster is a <a href="http://www.redhat.com"
          target="_blank">Red Hat</a> project.
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <a href="http://forge.jboss.org" id="logo-jbossforge" target="_blank">JBoss Forge</a>JBoss Forge is a <a href="http://www.redhat.com"
          target="_blank">Red Hat</a> project.
      </p>
    </div>    
    <div class="col-md-3">
      <ul class="social">
        <li>
          <a href="https://github.com/obsidian-toaster" target="_blank"><span class="fa fa-github-square"></span></a>
        </li>
        <li>
          <a href="https://twitter.com/obsidian-toaster" target="_blank"><span class="fa fa-twitter-square"></span></a>
        </li>
        <li>
          <a href="https://www.facebook.com/groups/obsidian-toaster/" target="_blank"><span class="fa fa-facebook-square"></span></a>
        </li>
        <li>
          <a href="https://plus.google.com/communities/" target="_blank"><span class="fa fa-google-plus-square"></span></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
