# See http://help.github.com/ignore-files/ for more about ignoring files.

templates/template_old.yml

# compiled output
/dist
/app/*.js
/app/*.js.map
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode
*.iml

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
functional_tests.log
unit_tests.log

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

# Package manager files
npm-shrinkwrap.json
yarn.lock
yarn-error.log

# misc
.history
