<div class="content">
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="../../../../assets/img/Background_img._1300x450.png">
        <h2>launch.openshift.io</h2>
        <h1>
          Continuous application delivery, built and deployed on OpenShift
        </h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg" (click)="launch()">Prepare for Takeoff</a>
      </div>
    </div>
  </div>
</section>

<section id="runtimes">
  <div class="container">
    <div class="row">
      <div class="col-md-12 card-title">
        <h1>Available Runtimes</h1>
      </div>
      <div class="col-sm-4 runtime">
        <div class="inner">
          <a href="http://wildfly-swarm.io" target="_blank">
            <div class="fa icon swarm icon-circle"></div>
            <h2>
              WildFly Swarm
            </h2>
          </a>
        </div>
      </div>

      <div class="col-sm-4 runtime">
        <div class="inner">
          <a href="https://projects.eclipse.org/projects/rt.vertx" target="_blank">
            <div class="fa icon vertx icon-circle"></div>
            <h2>
              Eclipse Vert.x
            </h2>
          </a>
        </div>
      </div>

      <div class="col-sm-4 runtime">
        <div class="inner">
          <a href="https://projects.spring.io/spring-boot/" target="_blank">
            <div class="fa icon boot icon-circle"></div>
            <h2>
              Spring Boot
            </h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
</div>