<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="../../../../assets/img/Background_img._1300x450.png">
        <h2>launch.openshift.io</h2>
        <h1>
          Continuous application delivery, built and deployed on OpenShift
        </h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg" (click)="launch()">Prepare for Takeoff</a>
      </div>
    </div>
  </div>
</section>

<section id="runtimes" style="margin-top:-18px">
  <div class="container container-cards-pf">
    <div class="row">
      <div class="col-xs-6 cold-sm-12 col-md-12 card-title">
        <h1>Available Runtimes</h1>
      </div>
    </div>
    <div class="row row-cards-pf">

      <div class="col-sm-4">
        <a href="http://wildfly-swarm.io" target="_blank">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
            <div class="card-pf-body">
              <div class="card-pf-top-element">
                <div class="fa icon swarm card-pf-icon-circle"></div>
              </div>
            </div>
            <h2 class="card-pf-title">
              WildFly Swarm
            </h2>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="https://projects.eclipse.org/projects/rt.vertx" target="_blank">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
            <div class="card-pf-body">
              <div class="card-pf-top-element">
                <div class="fa icon vertx card-pf-icon-circle"></div>
              </div>
            </div>
            <h2 class="card-pf-title">
              Eclipse Vert.x
            </h2>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="https://projects.spring.io/spring-boot/" target="_blank">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
            <div class="card-pf-body">
              <div class="card-pf-top-element">
                <div class="fa icon boot card-pf-icon-circle"></div>
              </div>
            </div>
            <h2 class="card-pf-title">
              Spring Boot
            </h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>