<div class="modal-body wizard-pf-body clearfix">
  <div class="wizard-pf-main">
    <div class="wizard-pf-contents">
      <form class="form-horizontal">
        <div class="form-group required" *ngFor="let input of currentGui.inputs">
          <label class="col-sm-2 control-label" for="textInput-markup">{{input.label}}</label>
          <div class="col-sm-10">
            {{input.name}}
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /.wizard-pf-main -->

</div>
<!-- /.wizard-pf-body -->

<div class="modal-footer wizard-pf-footer">
  <button type="button" class="btn btn-default wizard-pf-back" [class.disabled]="!currentGui.state.canMoveToPreviousStep">
      <span class="i fa fa-angle-left"></span>
      Back
    </button>
  <button type="button" class="btn btn-primary wizard-pf-next" [class.disabled]="!currentGui.state.canMoveToNextStep">
      Next
      <span class="i fa fa-angle-right"></span>
    </button>
  <button type="button" class="btn btn-primary hidden wizard-pf-finish">
      Download
      <span class="i fa fa-angle-right"></span>
    </button>
</div>
<!-- /.wizard-pf-footer -->