<div class="modal-body wizard-pf-body clearfix">
  <div class="wizard-pf-main">
    <div class="wizard-pf-contents">
      <form class="form-horizontal">
        <div class="form-group required">
          <label class="col-sm-2 control-label" for="textInput-markup">Select Language Runtime</label>
          <div class="col-sm-10">
            <select class="form-control" [(ngModel)]="settings.runtime" name="runtime">
                <option>Select a Language Runtime</option>
                <option value="{{runtime}}" *ngFor="let runtime of languageRuntimes">
                  {{runtime}}
                </option>
              </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="descriptionInput-markup">Select features</label>
          <div class="col-sm-10">
            <select multiple class="form-control" [(ngModel)]="settings.features" name="features">
                <option *ngFor="let feature of features">
                  {{feature}}
                </option>
              </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /.wizard-pf-main -->

</div>
<!-- /.wizard-pf-body -->

<div class="modal-footer wizard-pf-footer">
  <button type="button" class="btn btn-default wizard-pf-back" [class.disabled]="!isNotActive('1A')">
      <span class="i fa fa-angle-left"></span>
      Back
    </button>
  <button type="button" class="btn btn-primary wizard-pf-next" (click)="next()">
      Next
      <span class="i fa fa-angle-right"></span>
    </button>
  <button type="button" class="btn btn-primary hidden wizard-pf-finish">
      Download
      <span class="i fa fa-angle-right"></span>
    </button>
</div>
<!-- /.wizard-pf-footer -->