$assetPath: "./assets/logo";

#intro {
    background-image: url(#{$assetPath}/background.png);
    background-size: cover;
    h2 {
        color: #fff;
        font-size: 20pt;
        font-weight: bold;
      }
    h1 {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 3em;
    }
    
    .launch {
        border-radius: 0;
        background: #fff none;
        border-color: #fff;
        color: #c00;
        padding: 9px 40px;
        margin-top: 40px;
        line-height: 1.44;
        font-family: Overpass,sans-serif;
        font-size: 18px;
        text-transform: uppercase;
      }
    .container {
        padding: 40px;
        text-align: center;
    }
}

#runtimes {
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
    h1 {
        color: #c00;
        font-weight: bold;
    }

    .container {
        margin-top: 15px;
        display: flex;
    }
    .row2 {
        width: 850px;
    }

    .card {
        margin-right: 20px;
        padding: 40px 20px;
        flex: 1;
    }

    %icon {
        background: no-repeat center;
        margin: auto;
        width: 100%;
        height: 110px;
    }

    .thorntail {
        @extend %icon;
        background-image: url(#{$assetPath}/runtime/thorntail.svg);
    }

    .vertx {
        @extend %icon;
        background-image: url(#{$assetPath}/runtime/vertx.svg);
        background-size: 60%;
    }

    .node {
        @extend %icon;
        background-image: url(#{$assetPath}/runtime/nodejs-logo.png);
        background-size: 45%;
    }

    .fuse {
        @extend %icon;
        background-image: url(#{$assetPath}/runtime/fuse-logo.png);
        background-size: 45%;
      }

    .spring {
        font-size: 40px;
        font-weight: 700;
    }
}

@media (max-width: 425px) {
    #intro {
        margin-top: 0;
        h2 {
            font-size: 28pt;
        }

        Button {
            font-size: 10pt;
        }
    }
    
    #runtimes {
        .container {
            margin-top: 0;
            display: initial;
        }
        .card {
            margin-top: 5px;
            margin-right: 0;
            padding: 0;
        }
        .thorntail {
            background-size: 80%;
        }
    }
}
