<div class="wizard-pf-steps">
  <ul class="wizard-pf-steps-indicator">
    <li class="wizard-pf-step" [class.active]="isActive(1)" data-tabgroup="1">
      <a>
        <span class="wizard-pf-step-number">1</span>
        <span class="wizard-pf-step-title">Features</span>
      </a>
    </li>
    <li class="wizard-pf-step" [class.active]="isActive(2)" data-tabgroup="2">
      <a>
        <span class="wizard-pf-step-number">2</span>
        <span class="wizard-pf-step-title">Project details</span>
      </a>
    </li>
    <li class="wizard-pf-step" [class.active]="isActive(3)" data-tabgroup="3">
      <a>
        <span class="wizard-pf-step-number">3</span>
        <span class="wizard-pf-step-title">Review</span>
      </a>
    </li>
  </ul>
</div>