<h1>{{gui.metadata?.name}}</h1>
<div class="form-group" *ngFor="let input of gui.inputs">
  <div class="box-row">
    <div class="box-col box" *ngFor="let option of input.valueChoices">
      <div>
        <div class="text-center">
          <i class="fa fa-download icon" *ngIf="option.id == 'ZIP File'"></i>
          <img src="../../../../assets/img/openshift-online-logo.svg" *ngIf="option.id != 'ZIP File'">
          <h2>{{option.id == "ZIP File" ? "Build and run locally" : "Use Continuous Delivery"}}</h2>
        </div>
        <div class="panel-body" [innerHTML]="option.description"></div>
      </div>
      <button class="btn btn-primary box-btn" (click)="input.value = option.id;next()">
        {{option.id == "ZIP File" ? "I will build and run locally" : "Use OpenShift Online"}}
      </button>
    </div>
  </div>
</div>