<h1>{{gui.metadata?.name}}</h1>
<div class="form-group">
  <div class="box-row">
    <div class="box-col box" *ngFor="let option of getField('deploymentType').valueChoices">
      <div>
        <div class="text-center">
          <i class="fa fa-download icon" *ngIf="isZipFile(option)"></i>
          <img src="../../../../assets/img/openshift-online-logo.svg" *ngIf="!isZipFile(option)">
          <h2>{{isZipFile(option) ? "Build and run locally" : "Use Continuous Delivery"}}</h2>
        </div>
        <div class="panel-body" [innerHTML]="option.description"></div>
      </div>
      <div class="row" *ngIf="getField('openShiftCluster') && !isZipFile(option)">
        <la-input [ngModel]="getField('openShiftCluster')" [messages]="gui.messages"></la-input>
      </div>
      <div *ngIf="!isZipFile(option) && !token.valid">
        <hr/>
        <asciidoc docId="account-link-warning"></asciidoc>
        <p class="text-center">
          <button class="btn btn-sm btn-danger" (click)="linkAccounts.open()">Grant Access</button>
        </p>
      </div>
      <div *ngIf="!isZipFile(option) && token.valid">
        <p class="text-center">
          <button class="btn btn-sm btn-default" (click)="linkAccounts.open()">
            <span class="glyphicon glyphicon-cog"></span> Configure tokens
          </button>
        </p>
      </div>
      <button class="btn btn-primary box-btn" (click)="getField('deploymentType').value = option.id;next()"
              [disabled]="!isZipFile(option) && !getField('openShiftCluster')">
        {{isZipFile(option) ? "I will build and run locally" : "Use OpenShift"}}
      </button>
    </div>
  </div>
</div>

<modal #linkAccounts modalClass="modal-lg">
  <modal-content>
    <link-accounts></link-accounts>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="linkAccounts.close()">Done</button>
  </modal-footer>
</modal>