.box-row {
  display: flex;
}

.box-col {
  flex: 1;
  padding: 1em;
  margin: 1em;
  border: solid 1px #ddd;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.box-btn {
  align-items: flex-end;
  margin: 0 50px;
  font-size: 1em;
}

.icon {
  font-size: 7em;
  color: #8d8d8f;
  padding: 20px;
}

.text-center img {
  width: 70%;
  padding: 40px 10px;
}

@media (max-width: 425px) {
  .box-row {
    display: block;
  }
  .box-btn {
    font-size: 12px;
    margin: 0;
  }
}