<div authentication="true">
  <div class="blank-slate-pf ">
    <h1>
      To continue, please log into or register an account for free
      <br /> with the Red Hat Developer Program.
    </h1>
    <div class="blank-slate-pf-main-action">
      <button class="btn btn-primary btn-lg" (click)="authService.login()">Log in or register</button>
    </div>
  </div>
</div>
<div class="container-fluid" authentication>
  <f8launcher (onCancel)="back()" [gettingStartedInfo]="true">
    <div class="f8launcher-container_nav">
      <f8launcher-step-indicator #stepIndicator></f8launcher-step-indicator>
    </div>
    <div class="f8launcher-container_main">
      <f8launcher-targetenvironment-step #targetEnvStep [hidden]="isHidden()" id="TargetEnvironment" styleClass="target-environment"
        title="Target Environment">
      </f8launcher-targetenvironment-step>
      <flow-choice id="FlowChoice" title="Create New or Example" #flowStep [hidden]="!creatorEnabled || (targetEnvStep.selection.cluster && targetEnvStep.selection.cluster.type === 'starter')"></flow-choice>
      <missionruntime-step #missionRuntimeStep id="MissionRuntime" styleClass="mission-runtime"
        title="Mission & Runtime" [canChangeVersion]="true" [hidden]="flowStep.selection.creatorFlow">
      </missionruntime-step>
      <f8launcher-frontend-step id="Frontend" title="Front-end">
      </f8launcher-frontend-step>
      <f8launcher-runtime-step id="Runtimes" title="Back-end Runtime" [hidden]="!flowStep.selection.creatorFlow" #runtime></f8launcher-runtime-step>
      <f8launcher-capabilities-step id="Capabilities" title="Back-end Capabilities" [hidden]="!flowStep.selection.creatorFlow || !runtime.selectedRuntime.value.name"></f8launcher-capabilities-step>
      <f8launcher-gitprovider-step #gitProvider [hidden]="!(targetEnvStep.selection.dependencyCheck.targetEnvironment === 'os' && targetEnvStep.completed)"
        id="GitProvider" styleClass="git-provider" title="Git Provider">
      </f8launcher-gitprovider-step>
      <f8launcher-projectsummary-step id="ProjectSummary" styleClass="project-summary" title="Application Summary">
        <f8launcher-target-environment-review stepId="shared"></f8launcher-target-environment-review>
        <f8launcher-gitprovider-review [stepId]="gitProvider.id" *ngIf="targetEnvStep.selection.dependencyCheck.targetEnvironment === 'os' && targetEnvStep.completed"></f8launcher-gitprovider-review>
        <f8launcher-runtime-review stepId="Runtimes" *ngIf="flowStep.selection.creatorFlow"></f8launcher-runtime-review>
        <f8launcher-capabilities-review stepId="Capabilities" *ngIf="flowStep.selection.creatorFlow"></f8launcher-capabilities-review>
        <f8launcher-mission-runtime-review [stepId]="missionRuntimeStep.id" *ngIf="!flowStep.selection.creatorFlow"></f8launcher-mission-runtime-review>
      </f8launcher-projectsummary-step>
    </div>
    <div class="f8launcher-container_completed-footer">
      <button class="btn btn-primary btn-lg" (click)="back()">
        Start a new project
      </button>
    </div>
  </f8launcher>
</div>