<div class="container-fluid">
  <span *ngFor="let error of currentGui.messages">
  <div class="alert alert-{{error.severity == 'ERROR' ? 'danger' : 'warning'}} alert-dismissable" *ngIf="!error.showError">
    <button id="alert-close" type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="closeAlert(error)">
      <span class="pficon pficon-close"></span>
  </button>
  <span class="pficon pficon-error-circle-o"></span> {{error.description}}
</div>
</span>
<div class="wizard-pf-steps" *ngIf="currentGui.state.steps">
  <ul class="wizard-pf-steps-indicator">
    <li class="wizard-pf-step" [class.active]="currentGui.stepIndex == i + 1" *ngFor="let step of currentGui.state.steps; let i = index">
      <a (click)="gotoStep(i + 1)">
        <span class="wizard-pf-step-number">{{i + 1}}</span>
        <span class="hidden-xs wizard-pf-step-title">{{step}}</span>
      </a>
    </li>
    <li class="wizard-pf-step" [class.active]="currentGui.stepIndex == currentGui.state.steps.length + 1">
      <span class="wizard-pf-step-number">
        {{currentGui.state.steps.length + 1}}
      </span>
      <span class="hidden-xs wizard-pf-step-title">Review</span>
    </li>
  </ul>
</div>
<form class="form-horizontal" #wizard="ngForm">
  <deploy [submittedGuis]="history" [command]="command" *ngIf="currentGui.results">
  </deploy>
  <div class="wizard-pf-loading blank-slate-pf" *ngIf="!currentGui.inputs">
    <div class="spinner spinner-lg blank-slate-pf-icon"></div>
    <h3 class="blank-slate-pf-main-action">Loading Wizard</h3>
    <p class="blank-slate-pf-secondary-action">
      The wizard is loading the initial screen...
    </p>
  </div>
  <div *ngIf="currentGui.stepIndex == 2 && history.get(1) && history.get(1).inputs[0].value != 'ZIP File' && !keycloak.isAuthenticated()">
    <div class="blank-slate-pf ">
      <h1>
        To continue, please log into or register an account for free<br />
        with the Red Hat Developer Program.
      </h1>
      <div class="blank-slate-pf-main-action">
        <button class="btn btn-primary btn-lg" (click)="keycloak.login()">Log in or register</button>
      </div>
    </div>
  </div>
  <div class="col-sm-offset-2" style="padding-top: 3em" *ngIf="!(currentGui.stepIndex == 2 && history.get(1) && history.get(1).inputs[0].value != 'ZIP File' && !keycloak.isAuthenticated())">
    <h1>{{currentGui.metadata?.name}}</h1>
    <div style="margin-bottom: 2.2em" [innerHTML]="currentGui.metadata.intro" *ngIf="currentGui.inputs && currentGui.metadata"></div>
    <div class="col-sm-offset-2 col-sm-10" style="position: absolute;margin-top: -2em; width: 50%" *ngIf="validation">
      <span class="spinner spinner-xs spinner-inline" *ngIf="validation"></span>Validating form...
    </div>
    <div class="form-group" [class.has-error]="messageForInput(input.name)" [class.required]="input.required" *ngFor="let input of currentGui.inputs">
      <label class="col-sm-3 control-label" for="textInput-markup" *ngIf="currentGui.stepIndex == 4">{{input.label}}</label>
      <div class="col-sm-9" [ngSwitch]="input.class">
        <span *ngSwitchCase="'UIInput'">
        <span [ngSwitch]="input.valueType">
          <input [attr.id]="input.name" *ngSwitchCase="'java.lang.String'" type="text" name="{{input.name}}" [(ngModel)]="input.value" class="form-control"
            [required]="input.required" [disabled]="!input.enabled" [title]="input.description" (change)="validate(form)">
          <input [attr.id]="input.name" *ngSwitchCase="'java.lang.Boolean'" type="checkbox" name="{{input.name}}" [(ngModel)]="input.value" class="form-control"
            [required]="input.required" [disabled]="!input.enabled" [title]="input.description" (change)="validate(form)">
          <input [attr.id]="input.name" *ngSwitchCase="'java.lang.Integer'" type="number" name="{{input.name}}" [(ngModel)]="input.value" class="form-control"
            [required]="input.required" [disabled]="!input.enabled" [title]="input.description" (change)="validate(form)">
            <div class="errorLabel help-block">
              <span *ngIf="messageForInput(input.name)">{{messageForInput(input.name).description}}</span>
        <span *ngIf="form.dirty && !messageForInput(input.name)">{{input.label}} is required</span>
      </div>
      <span *ngIf="input.note"><span class="fa fa-info-circle"></span> <i>{{input.note}}</i></span>
      </span>
      </span>
      <span *ngSwitchCase="'UISelectOne'">
        <ob-project-select [input]="input" [(ngModel)]="input.value" name="{{input.name}}" *ngIf="input.valueType == 'io.openshift.launchpad.catalog.Runtime'" (ngModelChange)="validate(form)"></ob-project-select>
        <div *ngIf="input.valueType == 'io.openshift.launchpad.ui.booster.DeploymentType'">
          <div class="box-row">
          <div class="box-col box" *ngFor="let option of input.valueChoices">
            <div>
              <div class="text-center">
                <i class="fa fa-download icon" *ngIf="option.id == 'ZIP File'"></i>
                <img src="../../assets/img/openshift-online-logo.svg" *ngIf="option.id != 'ZIP File'">
                <h2>{{option.id == "ZIP File" ? "Build and run locally" : "Use Continuous Delivery"}}</h2>
              </div>
              <div class="panel-body" [innerHTML]="option.description"></div>
            </div>
            <button class="btn btn-primary box-btn" (click)="input.value = option.id;next()">
              {{option.id == "ZIP File" ? "Set up manual project" : "Set up continuous delivery"}}
            </button>
          </div>
          </div>
        </div>
        <div *ngIf="input.valueType != 'io.openshift.launchpad.catalog.Runtime' && input.valueType != 'io.openshift.launchpad.ui.booster.DeploymentType'">
          <div *ngFor="let option of input.valueChoices">
            <span>
              <label>
                <h3>
                  <input [name]="input.name" type="radio" [(ngModel)]="input.value" [value]="option.id" (ngModelChange)="validate(form)">
                  {{option.id}}
                </h3>
              </label>
            </span>
            <div [innerHTML]="option.description" style="margin-left:18px"></div>
          </div>
        </div>
      </span>
      <div *ngSwitchCase="'UISelectMany'">
        <ob-multiselect-list [input]="input" [(ngModel)]="input.value" name="{{input.name}}" (ngModelChange)="validate(form)"></ob-multiselect-list>
      </div>
  </div>
  </div>
  </div>

  <div class="form-group" *ngIf="!currentGui.results && currentGui.stepIndex != 1">
    <div class="col-sm-offset-10 col-sm-2">
      <button id="back" type="button" class="btn btn-default" [disabled]="!currentGui.state.canMoveToPreviousStep" (click)="previous()">
        <span class="i fa fa-angle-left"></span>
        Back
      </button>
      <button id="next" type="button" class="btn btn-primary" [disabled]="!currentGui.state.canMoveToNextStep && !currentGui.state.canExecute || validation || (currentGui.stepIndex == 2 && history.get(1) && history.get(1).inputs[0].value != 'ZIP File' && !keycloak.isAuthenticated()) "
        (click)="next()">
        Next
        <span class="i fa fa-angle-right"></span>
      </button>
    </div>
  </div>
</form>
</div>