form {
  max-width: 775px;
  margin: 0 auto;
  padding: 20px 0;
}

.wizard {
  margin-top: 20px;
}

.loading {
  animation-duration: 2s;
  animation-name: fade;
}

@keyframes fade{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  form {
    padding: 0;
  }

  .container-fluid {
    margin: 0;
    padding: 0;
  }
}