<div class="container-fluid">
<span *ngFor="let error of currentGui.messages">
  <div class="alert alert-{{error.severity == 'ERROR' ? 'danger' : 'warning'}} alert-dismissable" *ngIf="!error.showError">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="closeAlert(error)">
      <span class="pficon pficon-close"></span>
    </button>
    <span class="pficon pficon-error-circle-o"></span>
    {{error.description}}
  </div>
</span>
<div class="wizard-pf-complete blank-slate-pf" *ngIf="currentGui.results">
  <div class="wizard-pf-success-icon"><span class="glyphicon glyphicon-ok-circle"></span></div>
  <h3 class="blank-slate-pf-main-action">Finished</h3>
  <p class="blank-slate-pf-secondary-action" *ngFor="let result of currentGui.results">
    {{result.message}}
  </p>
  <button type="button" class="btn btn-lg btn-primary">
    Download
  </button>
</div>
<form class="form-horizontal" (ngSubmit)="onSubmit()" #wizard="ngForm">
  <div class="wizard-pf-loading blank-slate-pf" *ngIf="!currentGui.inputs">
    <div class="spinner spinner-lg blank-slate-pf-icon"></div>
    <h3 class="blank-slate-pf-main-action">Loading Wizard</h3>
    <p class="blank-slate-pf-secondary-action">
      The wizard is loading the initial screen...
    </p>
  </div>
  <div class="form-group" [class.required]="input.required" *ngFor="let input of currentGui.inputs">
    <label class="col-sm-2 control-label" for="textInput-markup">{{input.label}}</label>
    <div class="col-sm-10">
      <span *ngIf="input.class == 'UIInput'">
        <input [type]="getInputType(input)" name="{{input.name}}" [(ngModel)]="input.value" class="form-control"
        [required]="input.required" [disabled]="!input.enabled">
      </span>
      <span *ngIf="input.class == 'UISelectOne' || input.class == 'UISelectMany'">
        <select class="form-control" [(ngModel)]="input.value" name="{{input.name}}"
        #type="ngModel" [attr.multiple]="input.class == 'UISelectMany' ? true : null">
          <option *ngFor="let option of input.valueChoices">
              {{option}}
          </option>
        </select>
      </span>
    </div>
  </div>

  <div class="form-group" *ngIf="!currentGui.results">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-default"
        [disabled]="!currentGui.state.canMoveToPreviousStep" (click)="previous()">
        <span class="i fa fa-angle-left"></span>
        Back
      </button>
      <button type="button" class="btn btn-primary"
        [disabled]="!currentGui.state.canMoveToNextStep" (click)="next()">
        Next
        <span class="i fa fa-angle-right"></span>
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="!currentGui.state.canExecute">
        Finish
      </button>
    </div>
  </div>
</form>
</div>