<label class="col-sm-4 control-label" [attr.for]="input.name" [class.required]="input.required">{{input.label}}</label>
<div class="col-sm-8">
  <span class="col-sm-5" *ngIf="prefix">{{prefix}}</span>
  <div [class.col-sm-7]="prefix">
    <input [attr.id]="input.name" type="text" name="{{input.name}}" [(ngModel)]="projectName" [style.width]="!prefix ? '100%': ''" (focus)="input.hasFocus = true"
           [required]="input.required" [disabled]="!input.enabled" [title]="input.description" (change)="change()" [class.ng-invalid]="messageForInput(input.name)" #control (keyup)="keyUp.next(control.value)">
    <ul class="dropdown-menu" *ngIf="input.typeAheadData && input.hasFocus" [style.display]="input.clicked ? 'none' : 'block'" style="left: auto">
      <li *ngIf="input.value">
        <a href="javascript:void(0)" (click)="input.clicked = true">{{input.value}} -> <b>Create...</b></a>
      </li>
      <li *ngIf="!input.value"><a href="javascript:void(0)"><b>Create new</b></a></li>
      <li *ngFor="let data of input.typeAheadData | suggest: input.value">
        <a href="javascript:void(0)" (click)="setValue(data); input.clicked = true">{{data}}</a>
      </li>
    </ul>
  </div>

  <div class="errorLabel help-block">
    <span *ngIf="messageForInput(input.name)">{{messageForInput(input.name).description}}</span>
    <span *ngIf="input.name.errors && (input.name.dirty || input.name.touched)">{{input.label}} is required</span>
  </div>
  <span *ngIf="input.note"><span class="fa fa-info-circle"></span> <i>{{input.note}}</i></span>
</div>