<h1>{{gui.metadata?.name}}</h1>
<div *ngIf="getField('named')">
  <div class="col-sm-offset-2 col-sm-10" style="position: absolute;margin-top: -2em; width: 50%" *ngIf="validation">
    <span class="spinner spinner-xs spinner-inline"></span>Validating form...
  </div>

  <div class="panel-body">
    <div style="margin-bottom: 2.2em" *ngIf="gui.metadata" [innerHTML]="gui.metadata?.intro"></div>

    <div class="row">
      <la-input [ngModel]="getField('named')" (ngModelChange)="modelChanged()" [messages]="gui.messages" changeOnKey="true"></la-input>
    </div>
    <div class="row">
      <la-input [ngModel]="getField('gitHubRepositoryName')" (ngModelChange)="modelChanged()" [messages]="gui.messages" changeOnKey="true"></la-input>
    </div>
  </div>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading" (click)="toggle()">
        <h4 class="panel-title">
          <a href="javascript:void(0)" [class.collapsed]="!expand">
            Additional properties
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" [class.in]="expand">
        <div class="panel-body">
          <div class="row">
            <la-input [ngModel]="getField('groupId')" (ngModelChange)="modelChanged()" [messages]="gui.messages"></la-input>
          </div>
          <div class="row">
            <la-input [ngModel]="getField('artifactId')" (ngModelChange)="modelChanged()" [messages]="gui.messages"></la-input>
          </div>
          <div class="row">
            <la-input [ngModel]="getField('version')" (ngModelChange)="modelChanged()" [messages]="gui.messages"></la-input>
          </div>
        </div>
      </div>
    </div>
  </div>

  <la-buttons [state]="gui.state" [validation]="validation"></la-buttons>
</div>

<generic [gui]="gui" [validation]="validation" (validate)="validate" *ngIf="!getField('named')"></generic>