.admonitionblock td.icon [class^="icon-"]:before, .admonitionblock td.icon [class*="icon-"]:before {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default;
}
.admonitionblock td.icon .icon-note:before {
  content: "\f05a";
  color: #4d5258;
}
.admonitionblock td.icon .icon-tip:before {
  content: "\f0eb";
  text-shadow: 2px 0px 4px rgba(226, 80, 39, 0.8);
  color: #111;
}
.admonitionblock td.icon .icon-warning:before {
  content: "\f071";
  color: #ec7a08;
}
.admonitionblock td.icon .icon-caution:before {
  content: "\f06d";
  color: #bf3400;
}
.admonitionblock td.icon .icon-important:before {
  content: "\f06a";
  color: #c00;
}
.admonitionblock > table {
  border: 0;
  background: none;
  width: 100%;
  margin-bottom: 1.25em;
  font-size: 12px;
}
.admonitionblock > table td.icon {
  text-align: center;
  width: 80px;
}
.admonitionblock > table td.icon img {
  max-width: none;
}
.admonitionblock > table td.icon .title {
  font-weight: bold;
  text-transform: uppercase;
}
.admonitionblock > table td.content {
  padding-left: 1.125em;
  padding-right: 1.25em;
  border-left: 1px solid #dddddd;
  color: #6f6f6f;
}
.admonitionblock > table td.content >:last-child >:last-child {
  margin-bottom: 0;
}