<div authentication="true">
  <div class="blank-slate-pf ">
    <h1>
      To continue, please log into or register an account for free
      <br /> with the Red Hat Developer Program.
    </h1>
    <div class="blank-slate-pf-main-action">
      <button class="btn btn-primary btn-lg" (click)="keycloak.login()">Log in or register</button>
    </div>
  </div>
</div>
<div class="imports-dialog" authentication>
  <div class="code-imports">
    <form class="code-imports--step active" role="form">
      <section class="container-fluid">
        <form class="form" #spaceForm="ngForm">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <h1 class="code-imports--step_title">Create Application</h1>
              <form #form="ngForm">
                <div class="form-group">
                  <label for="projectName">
                    Name your application
                  </label>
                  <span class="code-imports--step_pencil">
                    <input id="projectName" name="projectName" type="text" class="form-control code-imports--step_input col-sm-5"
                        placeholder="Add application name"
                        aria-label="Application Name Input" required
                        (keyup)="validateProjectName()"
                        [(ngModel)]="projectName">
                  </span>
                  <ng-template #helpTemplate>
                    Names must:
                    <ul>
                      <li>Be unique
                      <li>Contain 4-65 characters
                      <li>Contain only letters, numbers, spaces or hyphens
                      <li>Not start or end with spaces or hyphens
                    </ul>
                  </ng-template>
                </div>
                <div class="row">
                  <span class="f8launcher-tags-label" container="body" triggers="click"
                        outsideClick="true" placement="bottom"
                        popoverTitle="Naming requirements:"
                        [popover]="helpTemplate">
                    Naming requirements <i class="pficon pficon-info"></i>
                  </span>
                </div>
                <div class="row code-imports--step_toolbar">
                  <button id="routeToApp" class="btn btn-primary" aria-label="Continue" (click)="routeToApp()" [disabled]="form.invalid">
                    Continue
                  </button>
                </div>
              </form>
            </div>
          </div>
        </form>
      </section>
    </form>
  </div>
</div>
