<div class="wizard-pf-steps" *ngIf="steps">
  <ul class="wizard-pf-steps-indicator wizard-steps">
    <li class="wizard-pf-step" [class.active]="stepIndex === i + 1" *ngFor="let step of steps; let i = index">
      <a (click)="gotoStep(i + 1)" *ngIf="i < 4">
        <span class="wizard-pf-step-number">{{i + 1}}</span>
        <span class="hidden-xs wizard-pf-step-title">{{step}}</span>
      </a>
      <span *ngIf="i >= 4">
        <span class="wizard-pf-step-number">{{i + 1}}</span>
        <span class="hidden-xs wizard-pf-step-title">{{step}}</span>
      </span>
    </li>
  </ul>
</div>