<h1>{{gui.metadata?.name}}</h1>
<div style="margin-bottom: 2.2em" *ngIf="gui.metadata" [innerHTML]="gui.metadata.intro"></div>

<div>
  <div class="row" la-ci="true">
    <div class="col-md-3">
      While you wait...
    </div>
    <div class="col-md-9">
      <p>
        <a [href]="consoleUrl()" target="_blank">Take a look at your build <i class="fa fa-external-link" aria-hidden="true"></i></a><br/>
        <i class="text-center">This will take a couple of minutes</i>
      </p>
    </div>
  </div>
  <div class="row primary">
    <div class="col-md-3 primary">
      <span la-ci="true">Your next step</span>
    </div>
    <div class="col-md-9 primary">
      <div class="panel panel-default">
        <div class="panel-body">
          <asciidoc docId="nextStep" la-ci="true"></asciidoc>
          <asciidoc docId="nextStepZip" la-ci></asciidoc>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center"> 
    <button id="restart" type="button" class="btn btn-link" (click)="restart()">
      Start a new Mission
    </button> 
  </div> 
</div>