<h1>{{gui.metadata?.name}}</h1>
<div style="margin-bottom: 2.2em" *ngIf="gui.metadata" [innerHTML]="gui.metadata.intro"></div>

<div>
  <div class="row primary">
    <div class="col-md-3 primary">
    </div>
    <div class="col-md-9 primary">
      <div class="panel panel-default">
        <div class="panel-body">
          <la-asciidoc docId="nextStepZip"></la-asciidoc>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center"> 
    <button id="restart" type="button" class="btn btn-link" (click)="restart()">
      Start a new Mission
    </button> 
  </div> 
</div>