$assetPath : "../../../../assets/img/project-select-icons/";

.icon {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  width:80px;
  height:80px;
}

/deep/ .Node {
  @extend .icon;
  width:120px;
  background-image: url(#{$assetPath}nodejs-logo.png);
}

/deep/ .Spring {
  @extend .icon;
  background-image: url(#{$assetPath}spring-boot-logo.png);
}

/deep/ .WildFly {
  @extend .icon;
  background-image: url(#{$assetPath}wildfly-swarm.png);
}

/deep/ .Eclipse {
  @extend .icon;
  background-image: url(#{$assetPath}vertx.svg);
}
