<div>
  <div style="margin-bottom: 2.2em" *ngIf="gui.metadata" [innerHTML]="gui.metadata.intro"></div>

  <div class="col-sm-offset-2 col-sm-10" style="position: absolute;margin-top: -2em; width: 50%" *ngIf="validation">
    <span class="spinner spinner-xs spinner-inline"></span>Validating form...
  </div>

  <div class="form-group" [class.has-error]="messageForInput(input.name)" *ngFor="let input of gui.inputs">
    <la-input [ngModel]="input" (ngModelChange)="modelChanged()" [messages]="gui.messages"></la-input>
  </div>
</div>

<la-buttons [state]="gui.state" [validation]="validation"></la-buttons>
