.app {
  padding-top: 20px;
  flex: 1;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

$assetPath : "../assets/img/";

:host(.intro) {
    background-image: url(#{$assetPath}hero-background-80.jpg);
    background-size: cover;
}
