.wizard {
  padding-bottom: 50px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      display: block;
      position: relative;
      > a {
        display: block;
        padding: 10px 10px 10px 40px;
        color: #333c4e;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: .8px;
        &:before {
          content: '';
          position: absolute;
          width: 1px;
          height: calc(100% - 25px);
          background-color: #bdc2ce;
          left: 13px;
          bottom: -9px;
          z-index: 3;
        }
        svg {
          pointer-events: none;
          font-size: 17px;
          position: absolute;
          left: 5px;
          top: 15px;
          z-index: 2;
        }
        &:after {
          content: '';
          position: absolute;
          border: 2px solid #bdc2ce;
          border-radius: 50%;
          top: 14px;
          left: 6px;
          width: 16px;
          height: 16px;
          z-index: 3;
        }
      }

      .content, .summary {
        display: block;
        padding: 10px 10px 10px 40px;
      }

      .content {
        color: #696e75;
      }

      .summary {
        color: #5cb85c;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: .8px;
      }
      &.completed > a {
        &:before {
          background-color: #5cb85c;
          opacity: 1;
          height: calc(100% - 25px);
          bottom: -9px;
        }
        &:after {
          display: none;
        }
      }
      &.locked > a:after, &:last-child > a:before {
        display: none;
      }
      &.selected {
        background-color: #fff;
        > a {
          &:before {
            background-color: #ffe357;
            opacity: 1;
          }
          &:after {
            border-color: #ffe357;
            background-color: #ffe357;
            opacity: 1;
          }
        }
        &:after, &:before {
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border: 10px rgba(255, 255, 255, 0);
          border-left-color: #fff;
          margin-top: -10px;
        }
        &:before {
          border: 11px rgba(234, 236, 241, 0);
          border-left-color: #eaecf1;
          margin-top: -11px;
        }
      }
    }
  }

  .wizard-step-footer {
    margin-top: 30px;

    .pf-c-button.pf-m-link {
      margin-left: 20px;
    }

  }
}