<div class="blank-slate">
  <h1>Getting started with Launch</h1>
  <p class="lead">
    Before proceeding, ensure you have granted launch access to your GitHub and OpenShift accounts.
  </p>
</div>
<div class="row">
  <div class="col-sm-1">
    <span class="fa-stack fa-2x stack-circle-border-blue">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa-stack-1x stack-circle-number">1</i>
    </span>
  </div>
  <div class="col-sm-11 padding-left-none">
    <h2>Connected accounts</h2>
  </div>
</div>

<div class="list-group list-view-pf list-view-pf-view">
  <div class="list-group-item">
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Add</button>
    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-github list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            <span class="required-pf">*</span>
            Github
          </div>
          <div class="list-group-item-text">
              In your GitHub namespace, create a repository containing your new project’s code.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p>
  Depending on your configuration choose or or multiple clusters from the list below:
</p>

<div class="list-group list-view-pf list-view-pf-view">
  <div class="list-group-item">
    <div class="list-view-pf-actions">
      <span class="fa-2x pficon pficon-ok"></span>
    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-cubes list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Openshift (starter-us-east-1)
          </div>
          <div class="list-group-item-text">
            Configure OpenShift Online to build and deploy your code on each push to your repository’s master branch.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Add</button>
    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-cubes list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Openshift (starter-us-west-1)
          </div>
          <div class="list-group-item-text">
            Configure OpenShift Online to build and deploy your code on each push to your repository’s master branch.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
