div.hub-and-spoke-container{
  padding: 10px;

  .hub-and-spoke-item {
    height: 200px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;

    .hub-and-spoke-header {
      border-bottom: 1px solid #f1f1f1;
      margin: 0 0 0 10px;
      display: flex;
      height: 36px;
      h1 {
        font-weight: bold;
        flex-grow: 1;
        line-height: 36px;
      }

      .hub-and-spoke-nav{
        float: right;
        display: inline-block;
      }

      .hub-and-spoke-nav .button svg{
        vertical-align: middle;
      }
    }

    .hub-and-spoke-body {
      padding: 10px;
    }
  }
}