.box-row {
  display: flex;
}

.box-col {
  flex:1;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}

.box-left {
  border-right: solid 1px #ccc;
  margin-right: 20px;
}

.error-row {
  border-bottom: solid 1px #c00;
  border-top: solid 1px #c00 !important;
  margin: 1px;
}

$carousel-color: #333;
.carousel-indicators {
  li {
    border-color: $carousel-color;
  }
  .active {
    background-color: $carousel-color;
  }
}

.item {
  margin: 60px;
}

.glyphicon {
  color: $carousel-color;
}

.carousel-control.right {
  background-image: initial;
}

.carousel-control.left {
  background-image: initial;
}

@media (max-width: 425px) {
  .box-row {
    display: block;
  }

  .box-left {
    border: 0;
  }
}