<h1>{{history.currentGui.metadata?.name}}</h1>
<div class="box-row">
  <div class="box-col box-left">
    <div *ngFor="let index of pageNumbers">
      <p><b>{{history.get(index).metadata.name}}</b></p>
      <p *ngFor="let input of history.get(index).inputs">
        <b class="col-sm-6" style="padding: 0" *ngIf="history.get(index).metadata.name != input.label">{{input.label}}:</b>
        <span class="col-sm-6" style="padding-left: 0">
          {{input.value}}
        </span>
        <br/>
      </p>
    </div>
  </div>
  <div class="box-col">
    <p>
      <la-asciidoc docId="manual-carousel"></la-asciidoc>
    </p>
    <div class="text-center" style="align-items: flex-end">
      <button id="back" type="button" class="btn btn-default" (click)="back()">
        Back
      </button>
      <button id="download" type="button" class="btn btn-primary" (click)="downloadZip()">
          Download as ZIP File
      </button>
    </div>
  </div>
</div>