<div *ngIf="status == Status.None">
  <h1>{{history.currentGui.metadata?.name}}</h1>
  <div class="box-row">
    <div class="box-col box-left">
      <div *ngFor="let index of pageNumbers">
        <p><b>{{history.get(index).metadata.name}}</b></p>
        <p *ngFor="let input of history.get(index).inputs">
          <b class="col-sm-6" style="padding: 0" *ngIf="history.get(index).metadata.name != input.label">{{input.label}}:</b>
          <span class="col-sm-6" style="padding-left: 0">
            {{input.value}}
          </span>
          <br/>
        </p>
      </div>
    </div>
    <div class="box-col">
      <p>
        <asciidoc docId="manual-carousel" la-ci></asciidoc>
        <span la-ci="true">
          Your project is ready; now you can launch it on OpenShift.
          The launch process will create both a GitHub repository containing your new Booster and
          a new project on OpenShift to automatically build and deploy the codebase.
        </span>
      </p>
      <div class="text-center" style="align-items: flex-end">
        <button id="back" type="button" class="btn btn-default" (click)="back()">
          Back
        </button>
        <button id="download" type="button" class="btn btn-primary" (click)="downloadZip()" la-ci>
            Download as ZIP File
        </button>
        <button id="launch" type="button" class="btn btn-primary" (click)="deploy()" la-ci="true">
          Launch on OpenShift
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="status != Status.None">
  <div class="text-center">
    <h1 *ngIf="status == Status.Progress">
      Working...
    </h1>
    <div class="wizard-pf-success-icon" *ngIf="status == Status.Done">
      <span class="glyphicon glyphicon-ok-circle"></span>
    </div>
    <h1 *ngIf="status == Status.Done">
      Your project is ready!
    </h1>
  </div>
  <div class="alert alert-danger alert-dismissable" *ngIf="error">
    <span class="pficon pficon-error-circle-o"></span>
    {{error}}
    <button id="retry" class="pull-right btn btn-default" (click)="retry()">
      Try Again
    </button>
  </div>

  <ul class="list-group">
    <li class="list-group-item" [class.error-row]="status.data && status.data.error" *ngFor="let status of statusMessages">
      <span class="pficon pficon-ok" style="font-size: 2.2em" *ngIf="status.done"></span>
      <span class="spinner spinner-inline" *ngIf="(!status.data || !status.data.error) && lastNotDone(status.messageKey)"></span>
      <span class="pficon pficon-error-circle-o" style="font-size: 2.2em" *ngIf="status.data && status.data.error"></span>
      <span class="status-message">
        {{status.message}}
        <div class="info-doc" *ngIf="status.data">
          <asciidoc [docId]="status.data.doc"></asciidoc>
        </div>
      </span>
    </li>
  </ul>
  <la-buttons [state]="history.currentGui.state"></la-buttons>
</div>
