.box-row {
  display: flex;
}

.box-col {
  flex:1;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}

.box-left {
  border-right: solid 1px #ccc;
  margin-right: 20px;
}

.error-row {
  border-bottom: solid 1px #c00;
  border-top: solid 1px #c00 !important;
  margin: 1px;
}

.content-span {
  margin-left: -125px;
  min-width: 1024px;
  display: inline-block;
  border-top: 1px solid #ededed;
  padding-top: 20px;
}

.list-group {
  border: none;
}

@media (max-width: 425px) {
  .box-row {
    display: block;
  }

  .box-left {
    border: 0;
  }
}