<div class="container-fluid">

  <h1>Release Notes - Version 1.0.0.alpha1</h1>
  <h2>Overview</h2>
  <p>
    <tr>
      Obsidian Toaster is a code Generator &amp; wizard tool to generate Quickstart or Spring Boot / Vert.x starter project
      ready to be build/deployed in OpenShift.
    </tr>
  </p>

  <h2>Feature Overview</h2>
  <dl>
    <dt>Spring Boot - REST Quickstart</dt>
    <dd>This Quickstart exposes using Spring technology a REST Greeting endpoint. The project that you download as a zip file
      from the Obsidian Web site
      can be customized (project name, version & top level package)
    </dd>
  </dl>
  <dl>
    <dt>Eclipse Vert.x - REST Quickstart</dt>
    <dd>This Quickstart exposes using Eclipse Vert.x technology a REST Greeting endpoint. The project that you download as a zip
      file from the Obsidian Web site
      can be customized (project name, version & top level package)
    </dd>
  </dl>
  <dl>
    <dt>Secured Spring Boot REST endpoint using Red Hat SSO</dt>
    <dd>This Quickstart exposes using Spring technology a REST Greeting endpoint which is secured by the Red Hat Single Sign On
      Platform.
      A JWT token will be issued by the Red Hat SSO platform in order to allow Client / application to access the Secured REST
      endpoint.
    </dd>
  </dl>
  <dl>
    <dt>Spring Boot Starter</dt>
    <dd>Using the Obsidian Front Web server, you can select a Spring Boot Starter, next the Spring dependencies that you would
      like to use and a zipped project will
      be populated. This starter project is ready to start the maven build process and deploy the application in OpenShift. It
      contains a simple HTTP Server.
    </dd>
  </dl>
  <dl>
    <dt>Eclipse Vert.X Starter</dt>
    <dd>Using the Obsidian Front Web server, you can select an Eclipse Vert.x Starter, next the Vert.x midules that you would
      like to use and a zipped project will
      be populated. This starter project is ready to start the maven build process and deploy the application in OpenShift. It
      contains a simple HTTP Server.
    </dd>
  </dl>

  <h2>Component Versions</h2>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Obsidian</td>
      <td>1.0.0.alpha1</td>
      <td>Code Generator &amp; Wizard Tool to generate Quickstart or Spring Boot / Vert.x starter project ready to be
        build/deployed in OpenShift Online
      </td>
    </tr>
    <tr>
      <td>Spring Boot</td>
      <td>1.4.1.RELEASE</td>
      <td>Spring Boot makes it easy to create stand-alone, production-grade Spring based Applications that you can "just run".
        http://docs.spring.io/spring-boot/docs/1.4.1.RELEASE/reference/htmlsingle/
      </td>
    </tr>
    <tr>
      <td>Eclipse Vert.x</td>
      <td>3.3.3</td>
      <td>Asynchronous / Reactive application platform for the modern web.
        https://projects.eclipse.org/projects/rt.vertx/releases/3.3.0
      </td>
    </tr>
    <tr>
      <td>Fabric8 Maven Plugin</td>
      <td>3.1.92</td>
      <td>Maven tool to generate the Docker Image, Openshift files and deploy/undeploy application top of Kubernetes/OpenShift.
        https://maven.fabric8.io/
      </td>
    </tr>
    <tr>
      <td>Openshift Client - oc</td>
      <td>3.3.x</td>
      <td>Client which exposes commands to log on to OpenShift Online/Dedicated/ContainerPlatform and to to manage your
        containerized applications
        running in OpenShift.
        https://docs.openshift.com/enterprise/3.2/cli_reference/get_started_cli.html
      </td>
    </tr>
    <tr>
      <td>Red Hat SSO</td>
      <td>7.0</td>
      <td>The Red Hat Single Sign-On Server, based on the Keycloak project, enables you to secure your web applications by
        providing Web SSO capabilities based on popular standards such as SAML 2.0, OpenID Connect, and OAuth 2.0.
        https://access.redhat.com/documentation/en/red-hat-single-sign-on/?version=7.0
      </td>
    </tr>
    </tbody>
  </table>

  <h2>Know issues</h2>
  <h3>Bug</h3>
  <ul>
    <li>[<a href='https://issues.jboss.org/browse/OBST-1'>OBST-1</a>] - Remove private repositories from quickstarts
    </li>
    <li>[<a href='https://issues.jboss.org/browse/OBST-2'>OBST-2</a>] - Create routes for quickstarts by default
    </li>
    <li>[<a href='https://issues.jboss.org/browse/OBST-3'>OBST-3</a>] - Quickstarts should have same functionality
    </li>
    <li>[<a href='https://issues.jboss.org/browse/OBST-21'>OBST-21</a>] - Quickstart quick_rest_vertx should not contain goal
      &#39;helm&#39; in fabric8-maven-plugin
    </li>
    <li>[<a href='https://issues.jboss.org/browse/OBST-33'>OBST-33</a>] - F-m-p 3.1.92 will fail if we don&#39;t specify the
      generator to be used
    </li>
  </ul>

  <h3>Sub-task</h3>
  <ul>
    <li>[<a href='https://issues.jboss.org/browse/OBST-9'>OBST-9</a>] - There needs to be a prerequisite doc about the expected environment
    </li>
  </ul>


  <div class="row">
    <div class="col-md-12">
      <button (click)="back()">back</button>
    </div>
  </div>
</div>