<div class="container-fluid">

  <h1>Release Notes</h1>
  <h2>Overview</h2>
  <p>
    <tr>
      Obsidian Toaster is a code Generator &amp; wizard tool to generate Quickstart or Spring Boot / Vert.x starter project ready to be build/deployed in OpenShift.
    </tr>
  </p>

  <h2>Feature Overview</h2>
  TODO

  <h2>Component Versions</h2>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Obsidian</td>
      <td>1.0.0.alpha1</td>
      <td>Code Generator &amp; Wizard Tool to generate Quickstart or Spring Boot / Vert.x starter project ready to be build/deployed in OpenShift Online
      </td>
    </tr>
    <tr>
      <td>Spring Boot</td>
      <td>1.4.1.RELEASE</td>
      <td>Spring Boot makes it easy to create stand-alone, production-grade Spring based Applications that you can "just run".
        http://docs.spring.io/spring-boot/docs/1.4.1.RELEASE/reference/htmlsingle/
      </td>
    </tr>
    <tr>
      <td>Eclipse Vert.x</td>
      <td>3.3.3</td>
      <td>Asynchronous / Reactive application platform for the modern web.
        https://projects.eclipse.org/projects/rt.vertx/releases/3.3.0
      </td>
    </tr>
    <tr>
      <td>Fabric8 Maven Plugin</td>
      <td>3.1.92</td>
      <td>Maven tool to generate the Docker Image, Openshift files and deploy/undeploy application top of Kubernetes/OpenShift.
        https://maven.fabric8.io/
      </td>
    </tr>
    <tr>
      <td>Openshift Client - oc</td>
      <td>3.3.x</td>
      <td>Client which exposes commands to log on to OpenShift Online/Dedicated/ContainerPlatform and to to manage your containerized applications
        running in OpenShift.
        https://docs.openshift.com/enterprise/3.2/cli_reference/get_started_cli.html
      </td>
    </tr>
    <tr>
      <td>Red Hat SSO</td>
      <td>7.0</td>
      <td>The Red Hat Single Sign-On Server, based on the Keycloak project, enables you to secure your web applications by providing Web SSO capabilities based on popular standards such as SAML 2.0, OpenID Connect, and OAuth 2.0.
          https://access.redhat.com/documentation/en/red-hat-single-sign-on/?version=7.0
      </td>
    </tr>
    </tbody>
  </table>

  <h2>Know issues</h2>
  TODO

  <div class="row">
    <div class="col-md-12">
      <button (click)="back()">back</button>
    </div>
  </div>
</div>