$assetPath : "../../../assets/img/";

@import url(http://overpass-30e2.kxcdn.com/overpass.css);

#intro {
    margin-top: -20px;
    background: url(#{$assetPath}Background_img._1300x450.png);
    min-height: 450px;
    background-size: cover;
    background-position: 0;
    font-family: overpass,sans-serif;
    
    h1 {
        color: #fff;
        font-size: 46pt;
        font-weight: bold;
    }
    h2 {
        color: #c00;
        font-weight: bold;
    }
    .row {
        margin-top: 5px;
    }
    .btn {
        background-image: none;
        background-color: #c00;
        border-color: #c00;
        color: #fff;
        padding: 9px 40px;
        margin-top: 15px;
        margin-bottom: 0;
        line-height: 1.44;
        font-size: 18px;
    }
}

#runtimes {
    background-color: #f5f5f5;
    font-family: overpass,sans-serif;
    h1 {
        color: #c00;
        font-weight: bold;
    }    
    .card-pf {
        background-color: #d1d1d1;
        height: 245px;
        .card-pf-body {
            margin-top: 50px;
            border-radius: 60px; 
            background-color: white;
            height: 120px;
            width: 120px;
            margin-left: 100px;
            .icon {
                margin-top: 20px;
                margin-left: 20px;
                position: absolute;
            }
        }
        .card-pf-title {
            color: black;
            font-size: 18pt;
            font-family: Overpass,sans-serif;
            text-align: center;
        }
    }
}

.icon {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width:80px;
    height:80px;
}
.boot {
    @extend .icon;
    background-image: url(#{$assetPath}project-select-icons/spring-boot-logo.png);
}

.swarm {
    @extend .icon;
    background-image: url(#{$assetPath}project-select-icons/wildfly-swarm.png);
}

.vertx {
    @extend .icon;
    background-image: url(#{$assetPath}project-select-icons/vertx.svg);
}