<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <img src="../../../assets/img/brand.svg" class="brand">
  </div>
  <h1>
    Welcome to the Launchpad
  </h1>
  <h2>You are moments away from continuous delivery of a new <br>
    application, built and deployed on the <br />
    OpenShift cloud platform.</h2>
  <h3>Currently supporting runtimes:</h3>
  <div class="lead">
    <p>
      Images here: Eclipse Vert.x | WildFly Swarm | Spring Boot
    </p>
  </div>
  <h4></h4>
  <div class="blank-slate-pf-main-action">
    <button class="btn btn-primary btn-lg btn-reg" (click)="launch()">
      Register for OpenShift Online Starter for free through the Red Hat Developer Program
    </button>
  </div>
  <h3>Already registered or building locally?  Let's get you into orbit.</h3>
  <div class="blank-slate-pf-main-action">
    <button class="btn btn-danger btn-lg" (click)="launch()">
      Prepare for Takeoff
    </button>
  </div>
</div>