.blank-slate-pf {
    color: #fff;
    border: 0;
    background-color: transparent;
}

.blank-slate-pf-icon img {
    width: 30%;
}

.lead {
    text-align:left;
    margin:auto;
    max-width:800px;
}

.form-horizontal {
    text-align:left;
    margin:auto;
    max-width:600px;
}