<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2">
        <h2>launch.openshift.io</h2>
        <h1>
          Continuous application delivery, built and deployed on OpenShift
        </h1>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2">
        <a class="btn btn-lg btn-danger" (click)="launch()">GET STARTED</a>
      </div>
    </div>
  </div>
</section>

<section id="runtimes" style="margin-top:25px">
  <div class="container container-cards-pf">
    <div class="row">
      <div class="col-xs-6 cold-sm-12 col-md-12 card-title">
        <h2>Available Runtimes</h2>
      </div>
    </div>
    <div class="row row-cards-pf">

      <div class="col-xs-6 col-sm-4 col-md-4">
        <a href="http://wildfly-swarm.io" target="_blank">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
            <div class="card-pf-body">
              <div class="icon swarm"></div>
            </div>
            <h2 class="card-pf-title">
              WildFly Swarm
            </h2>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-4">
        <a href="https://projects.eclipse.org/projects/rt.vertx" target="_blank">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
            <div class="card-pf-body">
              <div class="icon vertx"></div>
            </div>
            <h2 class="card-pf-title">
              Eclipse Vert.x
            </h2>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-4">
        <a href="https://projects.spring.io/spring-boot/" target="_blank">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
            <div class="card-pf-body">
              <div class="icon boot"></div>
            </div>
            <h2 class="card-pf-title">
              Spring Boot
            </h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>