.blank-slate-pf {
    color: #fff;
    border: 0;
    background-color: transparent;
    padding: 0;
}

.blank-slate-pf-icon img {
    width: 30%;
}

.lead {
    text-align:left;
    margin:auto;
    max-width:800px;
}

.form-horizontal {
    text-align:left;
    margin:auto;
    max-width:600px;
}

button {
    font-size: 1.5em;
}

.btn-reg {
    width: 420px;
    white-space: normal;
}

h1 {
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 20px;
}