<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <img src="../../../assets/img/obsidian.png">
  </div>
  <h1>
    Microservices Starter &amp; Quickstart
  </h1>
  <p class="lead">
    This DevTools will let you as a developer to create a Java project, that next you can import within the JBoss Developer Studio.
    It proposes two opinionated ways to achieve this goal either using one of our QuickStarts supporting different Microservices patterns
    as REST, Secured REST, Health Check or either by using one of the starters proposed as Eclipse Vert.x, Wildfly Swarm or Spring Boot.

    The different projects support to be launched locally within a terminal of your machine or deployed on top of an OpenShift Container Platform installation
  </p>
  <p>
    Learn more about this <a href="#">on the documentation</a>.
  </p>
  <div class="blank-slate-pf-main-action">
    <button class="btn btn-primary btn-lg" (click)="startWizard()"> Using a quickstart </button>
  </div>
  <div class="blank-slate-pf-secondary-action">
    <button class="btn btn-default"> A starter (Eclipse Vert.x, Wildfly Swarm or Spring Boot) </button>
  </div>
</div>