$assetPath : "../../../assets/img/";

#intro {
    margin-top: -20px;
    background: url(#{$assetPath}Background_img._1300x450.png);
    min-height: 450px;
    background-size: cover;
    background-position: 0;
    font-family: Overpass,sans-serif;
    
    h1 {
        color: #fff;
    }
    h2 {
        color: #c00;
        font-weight: bold;
    }
}

.icon {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width:80px;
    height:80px;
}
.boot {
    @extend .icon;
    background-image: url(#{$assetPath}project-select-icons/spring-boot-logo.png);
}

.swarm {
    @extend .icon;
    background-image: url(#{$assetPath}project-select-icons/wildfly-swarm.png);
}

.vertx {
    @extend .icon;
    background-image: url(#{$assetPath}project-select-icons/vertx.svg);
}