  <div class="wizard-pf-complete blank-slate-pf">
    <div class="wizard-pf-success-icon" *ngIf="!progress"><div class="glyphicon glyphicon-share"></div></div>
    <div class="wizard-pf-success-icon" *ngIf="progress && !done"><div class="spinner spinner-lg blank-slate-pf-icon"></div></div>
    <div class="wizard-pf-success-icon" *ngIf="done"><span class="glyphicon glyphicon-ok-circle"></span></div>
    <p class="blank-slate-pf-secondary-action" *ngIf="!progress">
      Your project is ready, now you can either download it as zipfile and try it locally or launch it on OpenShift.
    </p>
    <p class="blank-slate-pf-secondary-action" *ngIf="progress && !done">
      Working...
    </p>
    <p class="blank-slate-pf-secondary-action" *ngIf="done">
      Done, your project is created, build and launched on OpenShift!
    </p>
    <div class="blank-slate-pf-secondary-action">
      <button id="restart" type="button" class="btn btn-lg btn-default" (click)="restart()">
        Restart
      </button>
      <button id="download" type="button" class="btn btn-lg btn-default" (click)="downloadZip()" [disabled]="progress" *ngIf="downloadOrCD">
          Download as Zip
      </button>
      <button id="launch" type="button" class="btn btn-lg btn-primary" (click)="deploy()" [disabled]="progress" *ngIf="!downloadOrCD">
        Launch on OpenShift
      </button>
    </div>
</div>

<div class="container" style="max-width: 700px">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let status of statusMessages">
      <button id="retry" class="pull-left btn btn-lg btn-default" style="margin-left: -65px" (click)="retry()" *ngIf="status.data && status.data.error">
        <i class="glyphicon glyphicon-repeat" aria-hidden="true"></i>
      </button>
      {{status.message}}
      <span class="pull-right pficon pficon-ok" style="font-size: 2em" *ngIf="status.done"></span>
      <span class="pull-right pficon pficon-error-circle-o" style="font-size: 2em" *ngIf="status.data && status.data.error"></span>
      <a [href]="status.data.location" *ngIf="status.data && status.data.location" target="_blank"><br/>See it here!</a>
      <span *ngIf="status.data && status.data.error"><br/>{{status.data.error}}</span>
    </li>
  </ul>
</div>
