.launcher {
  background-color: #EDEDED;
  padding: 20px;
}

.card {
  text-align: center;
  height: 300px;
}

.empty {
  margin: 0 auto;
}

.flowHeader {
  svg {
    width: 45px;
    height: 45px;
  }

}
