<div *ngIf="authenticationNeeded">
  <div class="blank-slate-pf ">
    <h1>
      To continue, please log into or register an account for free<br />
      with the Red Hat Developer Program.
    </h1>
    <div class="blank-slate-pf-main-action">
      <button class="btn btn-primary btn-lg" (click)="keycloak.login()">Log in or register</button>
    </div>
  </div>
</div>

<div class="col-sm-offset-1" *ngIf="!authenticationNeeded">
  <div style="margin-bottom: 2.2em" *ngIf="gui.metadata" [innerHTML]="gui.metadata.intro"></div>
  <div class="col-sm-offset-1 form-group" *ngFor="let input of gui.inputs">
    <div class="row" *ngFor="let option of input.valueChoices">
      <span class="col-sm-4" style="float:left">
        <label>
          <input [name]="input.name" type="radio" [(ngModel)]="input.value" [value]="option.id"/>
            {{option.id}}
          </label>
      </span>
      <span *ngIf="input.value == option.id">
        <span [innerHTML]="option.description"></span>
      </span>
    </div>
  </div>
</div>