<!--<div style="animation-duration: 2s;animation-name: fade;">-->
<h1>{{gui.metadata?.name}}</h1>

<div style="margin-bottom: 2.2em" *ngIf="gui.metadata" [innerHTML]="gui.metadata.intro"></div>
<div *ngFor="let input of gui.inputs">
  <div *ngFor="let option of input.valueChoices">
    <span>
      <label>
        <h3>
          <input [name]="input.name" type="radio" [(ngModel)]="input.value" [value]="option.id"/>
          {{option.id}}
        </h3>
      </label>
    </span>
    <div [innerHTML]="option.description" style="margin-left:18px"></div>
  </div>
</div>

<la-buttons [state]="gui.state"></la-buttons>