$assetPath : "../../../../assets/img/project-select-icons/";

.icon {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  width:80px;
  height:80px;
}
.Spring {
  @extend .icon;
  background-image: url(#{$assetPath}spring-boot-logo.png);
}

.WildFly {
  @extend .icon;
  background-image: url(#{$assetPath}wildfly-swarm.png);
}

.Eclipse {
  @extend .icon;
  background-image: url(#{$assetPath}vertx.svg);
}