<div >
  <ul class="list-group">
    <li class="list-group-item" [class.active]="isActive('1A')">
      <a href="#">
        <span class="wizard-pf-substep-number">1A.</span>
        <span class="wizard-pf-substep-title">Details</span>
      </a>
    </li>
    <li class="list-group-item" [class.active]="isActive('1B')">
      <a href="#">
        <span class="wizard-pf-substep-number">1B.</span>
        <span class="wizard-pf-substep-title">Settings</span>
      </a>
    </li>
  </ul>
  <ul class="list-group hidden">
    <li class="list-group-item" [class.active]="isActive('2A')">
      <a href="#">
        <span class="wizard-pf-substep-number">2A.</span>
        <span class="wizard-pf-substep-title">Details</span>
      </a>
    </li>
    <li class="list-group-item" [class.active]="isActive('2B')">
      <a href="#">
        <span class="wizard-pf-substep-number">2B.</span>
        <span class="wizard-pf-substep-title">Settings</span>
      </a>
    </li>
  </ul>
  <ul class="list-group hidden">
    <li class="list-group-item" [class.active]="isActive('3A')">
      <a>
        <span class="wizard-pf-substep-number">3A.</span>
        <span class="wizard-pf-substep-title">Summary</span>
      </a>
    </li>
    <li class="list-group-item" [class.active]="isActive('3B')">
      <a>
        <span class="wizard-pf-substep-number">3B.</span>
        <span class="wizard-pf-substep-title">Progress</span>
      </a>
    </li>
  </ul>
</div>